<!DOCTYPE html>
<html>  
    <head>
        <meta charset="utf-8">
        <meta name="author" contnent="Ryan Beacham">
        <meta name="description" content="custom gifts and appearal">
        <meta name="keywords" content="custom, appearal, gifts">
        <meta http-equiv="refresh" content="60">

        <title>VegaFornia Choice</title>
        <link rel="icon" type="image/x-icon" href="../Images/Vegafornia_logo_transparent.png">

        
        <!-- Mobile Specific -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
       
        <!-- CSS -->
        <link rel="stylesheet" href="../Styles/index_style.css">

        <!-- JavaScript -->
        <!-- <script src="script.js" defer></script>  -->

        <!-- Imported Icons -->
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    </head>

    <!-- -- Notes -- -->


    <!-- Main Background (with cool background pic) -->
    <body id="main_body">
        
        <div id="background_container">
            <video src="../../Videos/LALV_video.mp4" autoplay muted loop id="video_background">
        </div>
    

        <div id="main_container">
            
            <div id="choice_container">
                <div>
                    <a href="VFGifts.html">
                        <span>
                            <img src="../../Images/Vegafornia_logo_transparent.png" alt="">
                            <br>
                            VegaFornia & Co.
                        </span>
                    </a>
                </div>

                <div>
                    <a href="">
                        <span>
                            <img src="../../Images/Vegafornia_logo_black_transparent.png" alt="">
                        </span>
                    </a>
                </div>
            </div>


        </div>

        


        



        
        <!-- <script src="script.js"></script>  -->
        <script>
            
        </script>

    </body>
</html>