<!DOCTYPE html>
<html>  
    <head>
        <meta charset="utf-8">
        <meta name="author" contnent="Ryan Beacham">
        <meta name="description" content="custom gifts and appearal">
        <meta name="keywords" content="custom, appearal, gifts">
        <meta http-equiv="refresh" content="60">

        <title>VegaFornia Custom Gifts</title>
        <link rel="icon" type="image/x-icon" href="../../Images/Vegafornia_logo_transparent.png">
        
        <!-- Mobile Specific -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
       
        <!-- CSS -->
        <link rel="stylesheet" href="../Styles/VFGifts_style.css">

        <!-- JavaScript -->
        <!-- <script src="script.js" defer></script>  -->

        <!-- Imported Icons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <!-- -- Notes -- -->
        <!-- 
            * assign twitter href 
            *
        -->

    <!-- Background -->
    <body id="main_body">
        
        <div id="background_pic">
            <img src="../../Images/Background/LASunset.jpg" alt="">
        </div>


        <!-- Nav Bar -->
        <section id="nav_bar">

            <!-- Mid Nav Bar -->
            <div id="mid_nav">  
                <a href="#" id="vf_img">
                    <img src="../../Images/Vegafornia_logo_transparent.png" alt="VegaFornia">
                </a>
                <label>VegaFornia</label>
            </div>
        </section>


        <div id="welcome_container">
    
            <div id="welcome_message_top">
                <p style="font-size: 50px;">
                    Get something special <br> for the ones you love!
                </p>
            </div>

            <div id="welcome_message_bottom">
                <p style="font-size: 15px;">
                    VegaFornia will customize items ranging from <br> <a href=""></b>hoodies</b></a> and <a href=""></b>shirts</b></a> to <a href=""></b>puzzles</b></a> and <a href=""></b>drinkware</b></a>! 
                </p>
                <p style="font-size: 15px;">
                    Submit a <a class="custom_req_form" href="#"><b>Custom Request Form</b></a> to recive personalized gifts in no time!
                </p>
            </div>
        </div>

        <div id="nav_menu_container">
            <div id="nav_menu">
                <ul type="none" id="right_nav_ul">
                    <li><a href="#">Drinkware</a></li>
                    <li><a href="#">For Him</a></li>
                    <li><a href="#">For Her</a></li>
                    <li><a href="#">Baby Gifts</a></li>
                    <li><a href="#">Custom Request</a></li>
                    <li><a href="#">Cart</a></li>
                </ul>
            </div> 
        </div>    
        
        <div id="product_showcase_container">
            <a href="index.html">

                <div class="carosel_label">
                    <span>Drinkware</span>
                </div>
        
                <div class="slider_wrapper">
                    <div class="image_list">
                        <img src="../../Images/Showcase/0.jpg" alt="">
                        <img src="../../Images/Showcase/1.jpg" alt="">
                        <img src="../../Images/Showcase/2.jpg" alt="">
                        <img src="../../Images/Showcase/3.jpg" alt="">
                        <img src="../../Images/Showcase/4.jpg" alt="">
                        <img src="../../Images/Showcase/5.jpg" alt="">

                        <img src="../../Images/Showcase/0.jpg" alt="">
                        <img src="../../Images/Showcase/1.jpg" alt="">
                        <img src="../../Images/Showcase/2.jpg" alt="">
                        <img src="../../Images/Showcase/3.jpg" alt="">
                        <img src="../../Images/Showcase/4.jpg" alt="">
                        <img src="../../Images/Showcase/5.jpg" alt="">
                    </div>
                </div>
            </a>


            <a href="old_index.html">

                <div class="carosel_label">
                    <span>Gifts for Him</span>
                </div>

                <div class="slider_wrapper">
                    <div class="image_list">
                        <img src="../../Images/Showcase/0.jpg" alt="">
                        <img src="../../Images/Showcase/1.jpg" alt="">
                        <img src="../../Images/Showcase/2.jpg" alt="">
                        <img src="../../Images/Showcase/3.jpg" alt="">
                        <img src="../../Images/Showcase/4.jpg" alt="">
                        <img src="../../Images/Showcase/5.jpg" alt="">

                        <img src="../../Images/Showcase/0.jpg" alt="">
                        <img src="../../Images/Showcase/1.jpg" alt="">
                    </div>
                </div>
            </a>

            <a href="old_index.html">

                <div class="carosel_label">
                    <span>Gifts for Her</span>
                </div>

                <div class="slider_wrapper">
                    <div class="image_list">
                        <img src="../../Images/Showcase/0.jpg" alt="">
                        <img src="../../Images/Showcase/1.jpg" alt="">
                        <img src="../../Images/Showcase/2.jpg" alt="">
                        <img src="../../Images/Showcase/3.jpg" alt="">
                        <img src="../../Images/Showcase/4.jpg" alt="">
                        <img src="../../Images/Showcase/5.jpg" alt="">

                        <img src="../../Images/Showcase/0.jpg" alt="">
                        <img src="../../Images/Showcase/1.jpg" alt="">
                    </div>
                </div>
            </a>

            <a href="old_index.html">

                <div class="carosel_label">
                    <span>Baby Gifts</span>
                </div>

                <div class="slider_wrapper">
                    <div class="image_list">
                        <img src="../../Images/Showcase/0.jpg" alt="">
                        <img src="../../Images/Showcase/1.jpg" alt="">
                        <img src="../../Images/Showcase/2.jpg" alt="">
                        <img src="../../Images/Showcase/3.jpg" alt="">
                        <img src="../../Images/Showcase/4.jpg" alt="">
                        <img src="../../Images/Showcase/5.jpg" alt="">

                        <img src="../../Images/Showcase/0.jpg" alt="">
                        <img src="../../Images/Showcase/1.jpg" alt="">
                    </div>
                </div>
            </a>

        </div>

        
        <!-- footer -->
        <div id="footer_container">
            <div id="footer_survey">
                <h1>About VF</h1>
                <p>
                    At VegaFornia, we strive to put a smile on the face of every client.
                    Although VF is a company that creates custom gifts and apparel,                   
                    we know it's not just a cup or a shirt we're making, rather a speacial and personalized experience!
                </p>
            </div> 
                <div id="footer_socials">
                <h1>Socials</h1>
                <span>
                    <a href="https://www.facebook.com/vegafornia/"><img src="../../Images/Icons/facebook_icon.png" alt=""></a>
                    <a href="https://www.instagram.com/vegafornianv/"><img src="../../Images/Icons/insta_icon.png" alt=""></a>
                    <a href=""><img src="../../Images/Icons/twitter_icon.png" alt=""></a></li>
                </span>
            </div>

            <div id="footer_help">
                <h1>Help</h1>
                <span><a href="">Customer Service</a></span>
                <span><a href="">Shipping Information</a></span>
                <span><a href="">Pricing</a></span>
            </div>

            <div id="footer_my_account">
                <h1>My Account</h1>
                <a href="">Create Account</a>
                <a href="">Track Your Order</a>
            </div>
        </div>

        <!-- 
        <div id="footer_survey">
            <h1>Survey</h1>

            <p>
                Purchased one of our items? 
                Give us your feedback by complting a <a href="#">survey!</a>
                Sharing your thoughts and ideas is a garunteed way to help us imporove the quality of our services for your next purchase. 
            </p>
            <h1>About VF</h1>
            <p>
                At VegaFornia, we strive to put a smile on the face of every client.
                Although VF is a company that creates custom gifts and apparel,                   
                we know it's not just a cup or a shirt we're making, rather a speacial and personalized experience!
            </p>
        </div> 
        -->

        <script>
        </script>

    </body>
</html>